.col {
    float: left;
    width: 30%;
  }

body {
      text-align: center;
      background-color: white;
  }

#leftColumn {
    border-right: solid 20px black;
}

#rightColumn {
    border-left: solid 20px black;
}